<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <mat-icon [routerLink]="[&apos;../mentees&apos;]">arrow_back</mat-icon>
    </div>
    <div fxLayout="column wrap" class="headerTitle" fxFlex="85" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
      <p>Profile of</p>
      <h1>Nyiko Shikwambana</h1>
    </div>
  </div>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <mat-tab-group>
      <mat-tab label="Goals">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Pass School</mat-card-title>
            <mat-card-subtitle>Status: In Progress</mat-card-subtitle><img mat-card-avatar="">
          </mat-card-header>
        </mat-card>
      </mat-tab>
      <mat-tab label="Strength and Weaknesses"></mat-tab>
      <mat-tab label="Personal Info"></mat-tab>
    </mat-tab-group>
  </div>
</div>