<div fxLayout="column wrap" class="fabBtn" fxFlex="20" fxLayoutAlign="center center" fxShow="true" fxHide="false"><button mat-fab>
    <mat-icon>chat_bubble</mat-icon>
  </button></div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
        <mat-icon [routerLink]="[&apos;../mentees&apos;]">arrow_back</mat-icon>
      </div>
      <div fxLayout="column wrap" class="headerTitle" fxFlex="85" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
        <h1>{{ goal.title }}</h1>
      </div>
    </div>
  </div>
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
      <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="space-around stretch" fxShow="true" fxHide="false">
        <h3>Due in</h3>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
        <!-- <countdown units="Days | Hours | Minutes | Seconds"  end="{{goal.end_date | date }}"></countdown> -->
        fdceccscdsd</div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <p>Started : {{goal.start_date | date }}</p>
    </div>
  </div>
</div>