<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" class="topbar" fxLayoutAlign="start center" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
      <mat-icon [routerLink]="[&apos;../&apos;]">arrow_back</mat-icon>
    </div>
    <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
      <h1>{{ goal.title }}</h1>
    </div>
  </div>
  <div fxLayout="column wrap" class="topbar" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <countdown units="Days | Hours | Minutes | Seconds" end="{{ goal.end_date }}"></countdown>
  </div>
  <div fxLayout="column wrap" style="margin: 0 30px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
    <div fxLayout="row wrap" class="goalDates" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div>
          <p>Started</p> <br>
          <h3>{{ goal.start_date | date }}</h3>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div>
          <p>Due</p> <br>
          <h3>{{ goal.end_date | date }}</h3>
        </div>
      </div>
    </div>
    <p>Category: {{ goal.category }}</p>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false"></div>
    <h3>Additional Notes:</h3>
    <p>{{ goal.note }}</p>
  </div>
</div>
<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="true">
  <h2>Comments</h2>
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
      <p>Alphie <br> 2 Apr 2019</p>
    </div>
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
      <p>lorem ipsum fcdsc acascew cds cdc cv csd jicd wsij cs ccer ds </p>
    </div>
  </div>
</div>
<div fxLayout="row wrap" class="commentInput" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="true">
  <div fxLayout="column wrap" fxFlex="88" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
    <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
      <input matInput placeholder="Add comment" required>

    </mat-form-field>
  </div>
  <div fxLayout="column wrap" fxFlex="10" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxShow="true" fxHide="false">
    <mat-icon (click)="addComment()">send</mat-icon>
  </div>
</div>