<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" class="back_wrapper" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <mat-icon [routerLink]="[&apos;../&apos;]">arrow_back</mat-icon>
    </div>
    <div fxLayout="column wrap" fxFlex="85" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
      <h1>Log Activity</h1>
    </div>
  </div>
  <form componentLabel="Form">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field>
        <mat-select placeholder="Select mentee" required>
          <mat-option *ngFor="let name of mentee" [value]="name.name">{{ name.name }}</mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" [(ngModel)]="today.today" name="today">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker opened disabled></mat-datepicker>

      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Location" required>

      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Reason for visit" required>

      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Additional Notes" required>

      </mat-form-field><button mat-raised-button>Save</button>
    </div>
  </form>
</div>