<div fxLayout="column wrap" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
  <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
    <div fxLayout="column wrap" class="back_wrapper" fxFlex="10" fxLayoutAlign="center center" fxShow="true" fxHide="false">
      <mat-icon [routerLink]="[&apos;../&apos;]">arrow_back</mat-icon>
    </div>
    <div fxLayout="column wrap" fxFlex="85" fxLayoutAlign="center stretch" fxShow="true" fxHide="false">
      <h1>Log Activity</h1>
    </div>
  </div>
  <form componentLabel="Form">
    <div fxLayout="column wrap" class="content" fxLayoutAlign="start stretch" fxShow="true" fxHide="false">
      <mat-form-field>
        <mat-select placeholder="Select mentee" [(ngModel)]="log.mentee_name" required name="mentee">
          <mat-option *ngFor="let name of mentees" [value]="name.email_address">{{ name.full_name}}</mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" [(ngModel)]="log.date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker opened disabled></mat-datepicker>

      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="log.location" name="location" placeholder="Location" required>

      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="log.reason" name="reason" placeholder="Reason for visit" required>

      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="log.notes" name="notes" placeholder="Additional Notes" required>

      </mat-form-field><button mat-raised-button (click)="logActivity()">Save</button>
    </div>
  </form>
</div>