/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "nDefaults.scss";

// $primary : #cceafa;
$primary : #00b8d4;
$secondary : #62ebff;
$dark : #0088a3;


.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-btn {
    background-color: $primary;
    color: black;
}

// splash page animation

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.fade-in {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

//header and footer 

.nav {
    height: 100px !important; 
    background-color: white;
}

.nav .mat-icon {
    font-size: 50px;
    height: auto;
    width: auto;
    cursor: pointer;
}

.nav .mat-icon:hover, .nav img:hover {
    font-size: 60px;
    color: teal;
}

.mat-menu-content {
    background-color: $primary;
}

.btm {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: $primary;    
}

.btm .mat-icon {
        color: white;
}

.mat-card button {
    background-color: $dark;
    color: white;
}

// mat card design .btm

.mat-card {
    padding: 30px !important;
    background-color: rgba(98, 235, 255, 0.16862745098039217);;
    margin: 10px 0;
}

.mat-card-footer {
    margin-left: 10px !important;
}

//fab buttons in mentee list
.fabBtn {
    position: fixed;
    z-index: 2;
    right: 0;
    padding: 15px;
    bottom: 100px;
}

.fabBtn .mat-fab {
    margin: 5px;
    background-color: $dark;
}