/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "nDefaults.scss";

//old colors
// $primary : #cceafa;
// $primary : #00b8d4;
// $secondary : #62ebff;
// $dark : #0088a3;

$primary : #00ACC1;
$secondary : #29B6F6;
$dark : #2980B9;

body {
  background-color: rgba(211, 211, 211, 0.25) !important;
}

// .add {
//   display: none !important;
// }
.login-card .mat-card-image:first-child {
    margin-top:0 !important
}

.primary-btn {
    background-color: $primary;
    color: white;
}

// splash page animation

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.fade-in {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

//header and footer 

.nav {
    height: 65px !important; 
    background-color: white;
}

.nav .mat-icon {
    font-size: 35px;
    height: auto;
    width: auto;
    cursor: pointer;
}

.nav .mat-icon:hover, .nav img:hover {
    font-size: 45px;;
    color: $dark;
}

.mat-menu-content {
    background-color: $primary;
}

.btm {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: $primary;    
}

.btm .mat-icon {
        color: white;
}

.outerCont {
    display: block !important;
}

.mat-card button {
    background-color: $primary;
    color: white;
}

// mat card design .btm

.countdown .measurements {
  flex: .1;
  margin: 0px 13px !important;
  font-size: 18px !important;
}

.mat-card {
    // border-radius: 30px !important;
    padding: 20px !important;
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35) !important;
}

// .mat-card:not([class*=mat-elevation-z]) {
//   box-shadow: 0px 2px 3px 1px rgba(107, 107, 107, 0.92);
//   border-radius: 10px;
// }

.mat-card-footer {
    margin-left: 10px !important;
}

.content {
  margin: 10px;
}

//fab buttons in mentee list
.fabBtn {
    position: fixed;
    z-index: 2;
    right: 0;
    margin: 15px;
    bottom: 15px;
}

.fabMenu {
    top: 10px;
    bottom: auto !important;
}

.fabBtn .mat-fab {
    margin: 5px;
    background-color: $dark;
}

.headerTitle p, .headerTitle h1 {
    margin: 0;
}

.formBox {
        margin: 0 30px !important;
}

.nameBubble {
    background-color: $secondary;
    padding: 5px;
    border-radius: 15px;
    color: white;
}

.commentInput {
    bottom: 60px;
    position: fixed;
    z-index: 2;
    width: 95%;
}


.registerFormContainer form {
    display: grid !important;
  }

  .errornotify {
    border-left: 2px red solid;
    height: 15px;
    font-size: 15px;
    padding: 5px;
    vertical-align: middle;
    position: relative;
  }

.registerFormContainer  .ng-valid[required], .registerFormContainer .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
    padding-left: 3px;
  }
  
//   .ng-invalid:not(form)  {
//     border-left: 5px solid #a94442; /* red */
//   }

.addGoalWrapper .mat-form-field-infix {
    width: 80px !important;
}

.topbar {
  background-color: $primary;
  color: white;
  height: 80px;
}
//===================================================--=
//loader for http requests 

.la-ball-atom,
.la-ball-atom > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-atom {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-atom.la-dark {
    color: #333;
}
.la-ball-atom > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-atom {
    width: 32px;
    height: 32px;
}
.la-ball-atom > div:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 60%;
    height: 60%;
    background: #aaa;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-animation: ball-atom-shrink 4.5s infinite linear;
       -moz-animation: ball-atom-shrink 4.5s infinite linear;
         -o-animation: ball-atom-shrink 4.5s infinite linear;
            animation: ball-atom-shrink 4.5s infinite linear;
}
.la-ball-atom > div:not(:nth-child(1)) {
    position: absolute;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: none;
    -webkit-animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
       -moz-animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
         -o-animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
            animation: ball-atom-zindex 1.5s 0s infinite steps(2, end);
}
.la-ball-atom > div:not(:nth-child(1)):before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
    content: "";
    background: currentColor;
    border-radius: 50%;
    opacity: .75;
    -webkit-animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
       -moz-animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
         -o-animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
            animation: ball-atom-position 1.5s 0s infinite ease, ball-atom-size 1.5s 0s infinite ease;
}
.la-ball-atom > div:nth-child(2) {
    -webkit-animation-delay: .75s;
       -moz-animation-delay: .75s;
         -o-animation-delay: .75s;
            animation-delay: .75s;
}
.la-ball-atom > div:nth-child(2):before {
    -webkit-animation-delay: 0s, -1.125s;
       -moz-animation-delay: 0s, -1.125s;
         -o-animation-delay: 0s, -1.125s;
            animation-delay: 0s, -1.125s;
}
.la-ball-atom > div:nth-child(3) {
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    -webkit-animation-delay: -.25s;
       -moz-animation-delay: -.25s;
         -o-animation-delay: -.25s;
            animation-delay: -.25s;
}
.la-ball-atom > div:nth-child(3):before {
    -webkit-animation-delay: -1s, -.75s;
       -moz-animation-delay: -1s, -.75s;
         -o-animation-delay: -1s, -.75s;
            animation-delay: -1s, -.75s;
}
.la-ball-atom > div:nth-child(4) {
    -webkit-transform: rotate(240deg);
       -moz-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
         -o-transform: rotate(240deg);
            transform: rotate(240deg);
    -webkit-animation-delay: .25s;
       -moz-animation-delay: .25s;
         -o-animation-delay: .25s;
            animation-delay: .25s;
}
.la-ball-atom > div:nth-child(4):before {
    -webkit-animation-delay: -.5s, -.125s;
       -moz-animation-delay: -.5s, -.125s;
         -o-animation-delay: -.5s, -.125s;
            animation-delay: -.5s, -.125s;
}
.la-ball-atom.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-atom.la-sm > div:not(:nth-child(1)):before {
    width: 4px;
    height: 4px;
    margin-top: -2px;
    margin-left: -2px;
}
.la-ball-atom.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-atom.la-2x > div:not(:nth-child(1)):before {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
}
.la-ball-atom.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-atom.la-3x > div:not(:nth-child(1)):before {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
}

//====================================================
//loader to check if email exists

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 20px;
}
.lds-ellipsis div {
  position: absolute;
  top: 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: $primary;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


/*
 * Animations
 */
@-webkit-keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@-moz-keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@-o-keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@keyframes ball-atom-position {
    50% {
        top: 100%;
        left: 100%;
    }
}
@-webkit-keyframes ball-atom-size {
    50% {
        -webkit-transform: scale(.5, .5);
                transform: scale(.5, .5);
    }
}
@-moz-keyframes ball-atom-size {
    50% {
        -moz-transform: scale(.5, .5);
             transform: scale(.5, .5);
    }
}
@-o-keyframes ball-atom-size {
    50% {
        -o-transform: scale(.5, .5);
           transform: scale(.5, .5);
    }
}
@keyframes ball-atom-size {
    50% {
        -webkit-transform: scale(.5, .5);
           -moz-transform: scale(.5, .5);
             -o-transform: scale(.5, .5);
                transform: scale(.5, .5);
    }
}
@-webkit-keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}
@-moz-keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}
@-o-keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}
@keyframes ball-atom-zindex {
    50% {
        z-index: 10;
    }
}
@-webkit-keyframes ball-atom-shrink {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(.8, .8);
                transform: translate(-50%, -50%) scale(.8, .8);
    }
}
@-moz-keyframes ball-atom-shrink {
    50% {
        -moz-transform: translate(-50%, -50%) scale(.8, .8);
             transform: translate(-50%, -50%) scale(.8, .8);
    }
}
@-o-keyframes ball-atom-shrink {
    50% {
        -o-transform: translate(-50%, -50%) scale(.8, .8);
           transform: translate(-50%, -50%) scale(.8, .8);
    }
}
@keyframes ball-atom-shrink {
    50% {
        -webkit-transform: translate(-50%, -50%) scale(.8, .8);
           -moz-transform: translate(-50%, -50%) scale(.8, .8);
             -o-transform: translate(-50%, -50%) scale(.8, .8);
                transform: translate(-50%, -50%) scale(.8, .8);
    }
}

//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================
//===========================================================================================================

//Animations 

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown .5s;
  animation-name: fadeInDown;
  animation: fadeInDown .5s;
  animation-iteration-count: 1;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  animation: zoomIn .5s;
  animation-iteration-count: 1;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation: fadeInUp .5s;
}

//======

@keyframes flipInX {
  from {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(90deg) scale3d(1.2, 1.2, 1.2);
    transform: perspective(400px) rotateX(90deg) scale3d(1.2, 1.2, 1.2); }
  50% {
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: perspective(400px) rotateX(-20deg) scale3d(1, 1, 1);
    transform: perspective(400px) rotateX(-20deg) scale3d(1, 1, 1); }
  to {
    -webkit-transform: perspective(400px) rotateX(0deg) scale3d(1, 1, 1);
    transform: perspective(400px) rotateX(0deg) scale3d(1, 1, 1); } }

    .flipInX {
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

//=====================================
.emailText, .emailText p, .emailText .mat-icon {
    display: flex;
    margin: 0;
    font-size: 12px;    
}

.txt p {
    margin: 0 !important;
    color: $secondary;
} 

.bg {
    background-image: url("/assets/Web/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loginLink {
    color: $primary;
    margin: 0 10px;
}

.blur {
transition: 1s;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
  cursor: pointer;
}

.show {
    background-color: none;
}

.goalCard {
    background: #00ACC1;
    color: white;
    width: 88%;
}

.goalDates p, .goalDates h3 {
        margin: 0 !important;
        text-align: center;
}